*, body{
    margin: 0;
    padding: 0;
}
.name{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: #000000;
    text-align: center;
    margin-top: 20px;
}
.description{
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333333;
    text-align: center;
    margin-top: 20px;
}
